<div >
<form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="productService.selectedProduct.$key">
    <div class="form-group">
      <label>Nombre</label>
      <input class="form-control"type="text" name="name" #name="ngModel"
      [(ngModel)]="productService.selectedProduct.name">
    </div>
    <div class="form-group">
      <label> Categoria</label>
    <input class="form-control" type="category" name="category" #category="ngModel"
    [(ngModel)]="productService.selectedProduct.category">
  </div>
  <div class="form-group">
    <label>Precio</label>
    <input class="form-control" type="location" name ="location" #location="ngModel"
    [(ngModel)]="productService.selectedProduct.location">
  </div>
  <div class="form-group">
      <label>Precio</label>
      <input class="form-control" type="number" name ="price"  #price="ngModel"
      [(ngModel)]="productService.selectedProduct.price">
    </div>
  <div class="form-group">
      <button class="btn btn-primary" type="submit">Agregar</button>
     <button class="btn btn-danger" type="reset" (click)="resetForm(productForm)">Actualizar</button>
    </div>
  </form>
  </div>
  
